<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Mimosa</title>

    <link rel="stylesheet" href="/stylesheets/vendor/vendor.css<%= cachebust %>" />
    <link rel="stylesheet" href="/stylesheets/application.css<%= cachebust %>" />

    <% if (reload) { %>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/javascripts/reload-client.js"></script>
    <% } %>

    <% if (optimize) { %>
      <script src="/javascripts/main-built.js"></script>
    <% } else { %>
      <script src="/javascripts/vendor/require.js" data-main="/javascripts/main.js"></script>
    <% } %>

  </head>
  <body>

    <div ng-view></div>

  </body>
</html>